<div class="page-content">
	<!-- BEGIN PAGE HEADER-->
	<h1 class="page-title"> Preguntas
		<!--small>subheader</small-->
	</h1>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a>Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<span>Preguntas</span>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12">
							<div id="map" style="height:600px;">hgjfghjfghjfghj</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){

});
</script>